body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
        65deg,
        rgb(80, 80, 168),
        rgb(67, 151, 67) 60%,
        rgb(255, 160, 59)
    );
}

.messageafter{
    text-align: center;

    font-size: 24px;
    font-weight: bold;
    color: white;
    line-height: 1.7em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px black;

}
.result{
    align-self: center;
    margin-left: 20px;
    color: white;
    font-size: 14px;
    line-height: 1.5em;
    text-shadow: 1px 1px 4px black;

}
.result>h1{
    margin-bottom: 10px;
}

.result_summary{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    line-height: 1.5em;
    margin-top: 30px;
    text-shadow: 1px 1px 4px black;

}